<template>
  <div>
    <div v-if="isLoggedIn">
      <router-link :to="{ name: 'profile' }" class="mr-2">Profile</router-link>
      <button type="button" @click="logout" class="mr-2">Logout</button>
    </div>
    <div v-else>
      <router-link :to="{ name: 'login' }" class="mr-2">Login</router-link>
      <router-link :to="{ name: 'register' }" class="mr-2">Register</router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "TheHeader",
  computed: {
    ...mapGetters(["isLoggedIn"])
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    }
  }
};
</script>

<style scoped></style>
