<template>
  <div
    class="base-input"
    :class="{ 'error-field': errorVuelidateClass(), 'valid-field': validVuelidateClass() }"
  >
    <label v-if="label">{{ label }}</label>
    <input @blur="touchVuelidate" v-on="listeners" v-bind="$attrs" :value="value" />
    <base-icon v-if="vuelidator.$pending" name="spinner" pulse></base-icon>
    <small v-if="errorMessage" class="error-message">{{ errorMessage }}</small>
  </div>
</template>

<script>
import { formFieldMixin } from "@/mixins/formFieldMixin";

export default {
  name: "BaseInput",
  mixins: [formFieldMixin]
};
</script>

<style scoped></style>
