<template>
  <div class="base-button">
    <button v-on="$listeners" v-bind="$attrs" :class="buttonClass" :id="buttonId">
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  name: "BaseButton",
  inheritAttrs: false,
  props: {
    buttonId: String,
    buttonClass: String
  }
};
</script>

<style scoped></style>
