<template>
  <div
    class="base-checkbox"
    :class="{ 'error-field': errorVuelidateClass(), 'valid-field': validVuelidateClass() }"
  >
    <label v-if="label">{{ label }}</label>
    <input
      @change="touchVuelidate"
      type="checkbox"
      v-on="listeners"
      v-bind="$attrs"
      :checked="value"
    />
    <small v-if="errorMessage" class="error-message">{{ errorMessage }}</small>
  </div>
</template>

<script>
import { formFieldMixin } from "@/mixins/formFieldMixin";

export default {
  name: "BaseCheckbox",
  mixins: [formFieldMixin],
  methods: {
    updateValue(event) {
      this.$emit("input", event.target.checked);
    }
  }
};
</script>

<style scoped></style>
