<template>
  <div
    class="base-textarea"
    :class="{ 'error-field': errorVuelidateClass(), 'valid-field': validVuelidateClass() }"
  >
    <label v-if="label">{{ label }}</label>
    <textarea @blur="touchVuelidate" v-on="listeners" v-bind="$attrs" :value="value" />
    <small v-if="errorMessage" class="error-message">{{ errorMessage }}</small>
  </div>
</template>

<script>
import { formFieldMixin } from "@/mixins/formFieldMixin";

export default {
  name: "BaseTextarea",
  mixins: [formFieldMixin]
};
</script>

<style scoped></style>
