<template>
  <div class="base-icon">
    <v-icon v-bind="$attrs" :class="iconClass" :id="iconId"></v-icon>
  </div>
</template>

<script>
export default {
  name: "BaseIcon",
  inheritAttrs: false,
  props: {
    iconId: String,
    iconClass: String
  }
};
</script>

<style scoped></style>
