<template>
  <div
    class="base-select"
    :class="{ 'error-field': errorVuelidateClass(), 'valid-field': validVuelidateClass() }"
  >
    <label v-if="label">{{ label }}</label>
    <select @change="touchVuelidate" v-on="listeners" v-bind="$attrs" :value="value">
      <option
        v-for="option in options"
        :value="option"
        :key="option"
        :selected="option === value"
      >{{ option }}</option>
    </select>
    <small v-if="errorMessage" class="error-message">{{ errorMessage }}</small>
  </div>
</template>

<script>
import { formFieldMixin } from "@/mixins/formFieldMixin";

export default {
  name: "BaseSelect",
  mixins: [formFieldMixin],
  props: {
    options: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped></style>
