<template>
  <div>
    <notifications-list-item
      v-for="notification in notifications"
      :key="notification.id"
      :notification="notification"
    ></notifications-list-item>
  </div>
</template>

<script>
import NotificationsListItem from "./NotificationsListItem";
import { mapState } from "vuex";

export default {
  name: "NotificationsList",
  components: {
    NotificationsListItem
  },
  computed: mapState("notifications", ["notifications"])
};
</script>

<style scoped></style>
