<template>
  <div>
    <p :class="severityClasses">{{ notification.message }}</p>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "NotificationsListItem",
  props: {
    delay: {
      type: Number,
      default: 5000
    },
    notification: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      timeout: null
    };
  },
  computed: {
    severityClasses() {
      let colorsBySeverity = {
        success: "green",
        failure: "red",
        warning: "orange",
        info: "blue",
        default: "gray"
      };
      let color = colorsBySeverity[this.notification.severity || "default"];

      return `${color}-example-class`;
    }
  },
  mounted() {
    this.timeout = setTimeout(() => this.remove(this.notification), this.delay);
  },
  beforeDestroy() {
    clearTimeout(this.timeout);
  },
  methods: mapActions("notifications", ["remove"])
};
</script>

<style scoped></style>
