<template>
  <div>
    <h1>Oops, something went wrong. Please click the back button and try it again.</h1>
    <a class="cursor-pointer" @click="$router.go(-1)">{{ $t('shared.buttons.goBack') }}</a>
  </div>
</template>

<script>
export default {
  name: "InternalServerError"
};
</script>

<style scoped></style>
