<template>
  <div>
    <h1>Oops, the {{ resource }} was not found. Please click the back button and try it again.</h1>
    <a class="cursor-pointer" @click="$router.go(-1)">{{ $t('shared.buttons.goBack') }}</a>
  </div>
</template>

<script>
export default {
  name: "NotFoundError",
  props: {
    resource: {
      type: String,
      default: "page"
    }
  }
};
</script>

<style scoped></style>
