<template>
  <div id="app">
    <the-header></the-header>
    <router-view></router-view>
    <notifications-list></notifications-list>
    <the-footer></the-footer>
  </div>
</template>

<script>
import TheHeader from "@/components/layout/TheHeader";
import TheFooter from "@/components/layout/TheFooter";
import NotificationsList from "@/components/notifications/NotificationsList";

export default {
  name: "App",
  components: {
    TheHeader,
    TheFooter,
    NotificationsList
  }
};
</script>

<style scoped></style>
