<template>
  <div>
    <form @submit.prevent="login">
      <base-input v-model="user.email" :vuelidator="$v.user.email" type="text" placeholder="email"></base-input>
      <base-input
        v-model="user.password"
        :vuelidator="$v.user.password"
        type="password"
        placeholder="password"
      ></base-input>
      <base-button type="submit" :disabled="$v.$invalid">{{ $t('auth.login.submit') }}</base-button>
      <router-link :to="{ name: 'requestPasswordReset' }">{{ $t('auth.login.forgotPassword') }}</router-link>
    </form>
  </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";

export default {
  name: "Login",
  data() {
    return {
      user: {
        email: "",
        password: ""
      }
    };
  },
  validations: {
    user: {
      email: { required, email },
      password: { required }
    }
  },
  methods: {
    login() {
      let payload = {
        data: this.user
      };

      this.$store.dispatch("login", payload);
    }
  }
};
</script>

<style scoped></style>
