<template>
  <div>
    <form @submit.prevent="passwordReset">
      <base-input
        v-model="user.password"
        :vuelidator="$v.user.password"
        type="password"
        placeholder="password"
      ></base-input>
      <base-input
        v-model="user.passwordConfirmation"
        :vuelidator="$v.user.passwordConfirmation"
        type="password"
        placeholder="password confirmation"
      ></base-input>
      <base-button type="submit" :disabled="$v.$invalid">{{ $t('auth.passwordReset.submit') }}</base-button>
    </form>
  </div>
</template>

<script>
import { required, sameAs } from "vuelidate/lib/validators";

export default {
  name: "PasswordReset",
  data() {
    return {
      user: {
        password: "",
        passwordConfirmation: ""
      }
    };
  },
  validations: {
    user: {
      password: { required },
      passwordConfirmation: { required, sameAsPassword: sameAs("password") }
    }
  },
  methods: {
    passwordReset() {
      let payload = {
        data: this.user,
        token: this.$route.query.token
      };

      this.$store.dispatch("passwordReset", payload).then(() => {
        this.$router.push({ name: "login" });
      });
    }
  }
};
</script>

<style scoped></style>
