<template>
  <div>
    <form @submit.prevent="register">
      <base-input
        v-model="user.email"
        @blur="readyCheckUniqueUser = !$v.user.email.$error"
        :vuelidator="$v.user.email"
        type="text"
        placeholder="email"
      ></base-input>
      <base-input
        v-model="user.password"
        :vuelidator="$v.user.password"
        type="password"
        placeholder="password"
      ></base-input>
      <base-input
        v-model="user.passwordConfirmation"
        :vuelidator="$v.user.passwordConfirmation"
        type="password"
        placeholder="password confirmation"
      ></base-input>
      <base-button type="submit" :disabled="$v.$invalid">{{ $t('auth.register.submit') }}</base-button>
    </form>
  </div>
</template>

<script>
import { required, email, sameAs } from "vuelidate/lib/validators";
import { isUniqueUserBy } from "@/utils/validators";

export default {
  name: "Register",
  data() {
    return {
      user: {
        email: "",
        password: "",
        passwordConfirmation: ""
      },
      readyCheckUniqueUser: false
    };
  },
  validations: {
    user: {
      email: {
        required,
        email,
        isUnique(value) {
          if (!this.readyCheckUniqueUser) return true;
          this.readyCheckUniqueUser = false;
          return isUniqueUserBy(value, "email");
        }
      },
      password: { required },
      passwordConfirmation: { required, sameAsPassword: sameAs("password") }
    }
  },
  methods: {
    register() {
      let payload = {
        data: this.user
      };

      this.$store.dispatch("register", payload);
    }
  }
};
</script>

<style scoped></style>
