<template>
  <div>
    <form @submit.prevent="requestPasswordReset">
      <base-input v-model="user.email" :vuelidator="$v.user.email" type="text" placeholder="email"></base-input>
      <base-button
        type="submit"
        :disabled="$v.$invalid"
      >{{ $t('auth.requestPasswordReset.submit') }}</base-button>
    </form>
  </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";

export default {
  name: "RequestPasswordReset",
  data() {
    return {
      user: {
        email: ""
      }
    };
  },
  validations: {
    user: {
      email: { required, email }
    }
  },
  methods: {
    requestPasswordReset() {
      this.$store.dispatch("requestPasswordReset", this.user).then(() => {
        this.$router.push({ name: "login" });
      });
    }
  }
};
</script>

<style scoped></style>
